body {
    font-family: Arial, sans-serif;
    background-color: #333; 
    color: #CCCCCC;
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
}
button{
    cursor: pointer;
    text-decoration: none;
}
a{
    text-decoration: none;
    height: 17%;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #000000; 
    color: #CCCCCC;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.divisao{
    width: 50%;
    height: 60px;
    background-color: #000000;
    color: #CCCCCC;
    text-align: center;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

.header p {
    margin: 0;
}


#atendimento{ 
    display: flex;
    justify-content: space-between;
    width: 370px;
}


.zap{
    width: 20px;
}

#station{
    width: 200px;
    position: relative;
    right: 40px;
}

#container{
    display: flex;
    flex-direction: row;
    height: 300px;
}

#cadastro {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #FF3131;
    color: #000000;
    border: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.5s, color 0.8s;
}

#icon-cadastro {
    width: 20px;
    height: 20px;
    background-image: url('../img/enter.png');
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
}

#cadastro:hover {
    background-color: #921c1c;
    color: #fff;
}

#cadastro:hover #icon-cadastro {
    background-image: url('../img/icons8-login-arredondado-à-direita-50.png');
}


#vagas{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #FF3131;
    color: #000000;
    border: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.5s, color 0.8s;
}


#icon-vagas {
    width: 20px;
    height: 20px;
    background-image: url('../img/icons8-carro-30.png');
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
}

#vagas:hover {
    background-color: #921c1c;
    color: #fff;
}

#vagas:hover #icon-vagas {
    background-image: url('../img/icons8-carro-30\ \(1\).png');
}

#cliente{
    margin: 0 25px 0 25px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #FF3131;
    color: #000000;
    border: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.5s, color 0.8s;
}

#icon-cliente {
    width: 20px;
    height: 20px;
    background-image: url('../img/user\ \(1\).png');
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
    position: relative;
    left: 5px;
}

#cliente:hover {
    background-color: #921c1c;
    color: #fff;
}

#cliente:hover #icon-cliente {
    background-image: url('../img/user\ \(2\).png');
}