body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Dark background similar to Electron theme */
    color: #CCCCCC; /* Light text color for contrast */
    margin: 0;
    padding: 0; /* Remove default padding */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items vertically */
    min-height: 100vh; /* Ensure full height */
}

.header {
    width: 100%;
    height: 60px;
    background-color: #333; /* Dark background for the header */
    color: #CCCCCC;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    font-size: 35px;
    color: #FF3131;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 10000;
}

.sidebar {
    width: 200px;
    background-color: #282828;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: -200px; /* Esconde a sidebar inicialmente */
    overflow-x: hidden;
    transition: left 0.3s ease;
    z-index: 10000;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    color: #FF3131;
    font-weight: bold;
    text-align: justify;
}

.sidebar ul li a:hover {
    background-color: #444444;
}

.menu-icon:hover + .sidebar,
.sidebar:hover {
    left: 0; /* Mostra a sidebar ao passar o mouse sobre o ícone ou a própria sidebar */
}

#station {
    width: 90px;
    height: 50px;
    position: relative;
    left: 670px;
}

.links {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 70px;
    width: 300px;
    justify-content: space-between;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #FF3131;
    font-weight: bold;
}

.header p {
    margin: 0;
}

.zap {
    width: 20px;
    position: relative;
    left: 180px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between container and result box */
    width: 100%;
    position: relative;
}

#container {
    max-width: 400px; /* Increased width for better table display */
    width: 100%; /* Ensure it uses full width on smaller screens */
    padding: 20px;
    background-color: #282828; /* Slightly lighter dark color for the container */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

#result{
    border: 1px solid #000000;
    width: 105%;
    height: 125px;
}

/* CSS */
#vehicle-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Espaço entre o botão e a tabela */
}

#vehicle-table th,
#vehicle-table td {
    border: 1px solid #CCCCCC;
    padding: 8px;
    text-align: center;
}

#vehicle-table th {
    background-color: #333333;
    color: #FFFFFF;
}

#vehicle-table tr:nth-child(even) {
    background-color: #444444;
}

#vehicle-table tr:nth-child(odd) {
    background-color: #282828;
}

button.edit-vehicle {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #FF3131;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.edit-vehicle:hover {
    background-color: #FF5A5A;
}

/* Style for the 'Visualizar veículos' link */
.visualizar-veiculos-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #FF3131; /* Red color to match the theme */
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    background-color: #3C3C3C; /* Slightly lighter dark color for contrast */
    transition: background-color 0.3s;
}

.visualizar-veiculos-link:hover {
    background-color: #FF5A5A; /* Slightly lighter red on hover */
}




/* Estilo para a tabela de vagas */
#garage-table {
    width: 100%;
    border-collapse: collapse;
}

#garage-table th,
#garage-table td {
    border: 1px solid #CCCCCC;
    padding: 8px;
    text-align: center;
}

#garage-table th {
    background-color: #333333;
    color: #FFFFFF;
}

#garage-table tr {
    background-color: #282828;
    color: #FFFFFF;
}




thead{
    padding: 20px;
}

th{
    width: 90px;
}


.resultado {
    width: 500px;
    height: 127px;
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.result-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #3C3C3C;
    border-radius: 4px;
    height: 95%;
    width: 100%;
    font-size: 25px;
}

.edit-vehicle {
    margin-top: 50%;
}

input[type="text"],
input[type="number"],
input[type="time"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3C3C3C;
    color: #CCCCCC;
}

#vehicle-type {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3C3C3C;
    color: #CCCCCC;
}

.vehicle-type {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3C3C3C;
    color: #CCCCCC;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #FF3131; /* Electron blue color */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF3131; /* Slightly darker blue on hover */
}

.result-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #3C3C3C; /* Background color for each item */
    border-radius: 4px;
}

.result-item p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #444; /* Border for separation */
}

.result-item p:last-child {
    border-bottom: none; /* Remove border from last item */
}

.details-row {
    background-color: #3C3C3C; /* Background color for details row */
    color: #FFFFFF; /* Text color */
}

.details-row .result-item {
    padding: 10px;
    border: none; /* Remove border */
}

.details-row .result-item p {
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#alert-box {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #3C3C3C;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    border-radius: 8px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
