body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.menu-icon {
    font-size: 35px;
    color: #FF3131;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.sidebar {
    width: 200px;
    background-color: #282828;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: -200px; /* Esconde a sidebar inicialmente */
    overflow-x: hidden;
    transition: left 0.3s ease;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    color: #FF3131;
    font-weight: bold;
    text-align: justify;
}

.sidebar ul li a:hover {
    background-color: #444444;
}

.menu-icon:hover + .sidebar,
.sidebar:hover {
    left: 0; /* Mostra a sidebar ao passar o mouse sobre o ícone ou a própria sidebar */
}

.content {
    margin-left: 200px;
    padding: 20px;
    flex: 1;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: relative;
    top: 100px;
}

#container {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

button {
    margin: 5px;
}

.botoes {
    width: 330px;
}

p {
    font-size: 12px;
    position: relative;
    top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #2C2C2C;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #3C3C3C;
}

th {
    background-color: #333333;
    color: #CCCCCC;
}

td {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vaga-disponivel {
    color: #4ea58f;
    font-weight: bold;
}

.vaga-ocupada {
    color: #DC3545;
    font-weight: bold;
}

.exit-time {
    margin-bottom: 5px;
    border-radius: 5px;
    height: 25px;
    background-color: #FF3131;
    border: none;
    color: white;
}

.saida {
    font-weight: bold;
}

.details-btn {
    background-color: #FF3131;
    color: white;
    width: 20%;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.details-btn:hover {
    background-color: #FF3131;
}

.delete {
    background-color: #FF3131;
    color: white;
    width: 20%;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete:hover {
    background-color: #FF4500;
}

.edit {
    background-color: #FF3131;
    color: white;
    width: 20%;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit:hover {
    background-color: #FF3131;
}

.custom-alert {
    display: none; /* Oculta a custom alert inicialmente */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #3C3C3C;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    border-radius: 8px;
}

.custom-alert p {
    margin: 0;
    color: #CCCCCC;
    padding: 10px 0;
    font-weight: bold;
    font-size: 14px;
}

.custom-alert button {
    padding: 5px 10px;
    background-color: #FF3131;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
}

.custom-alert button:hover {
    background-color: #FF3131;
}

.result-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #3C3C3C;
    border-radius: 4px;
    width: 100%;
    height: 190px;
}

.result-item p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #444;
}

.result-item p:last-child {
    border-bottom: none;
}

.details-row {
    background-color: #3C3C3C;
    color: #FFFFFF;
}

.details-row .result-item {
    padding: 10px;
    border: none;
}

.details-row .result-item p {
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* Estilo para o modal */
.modal {
    display: none; /* Oculta o modal inicialmente */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #282828;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #FF3131;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FF3131;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    color: #CCCCCC;
}

.modal-content label {
    color: #CCCCCC;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #555;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #FF3131;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #FF4500;
}
